src/all/all.py
src/all/classes.dot
src/all/classes2.dot
src/all/classs.svg
src/all/image.png
src/all/img/classes.dot
src/all/img/classes.jpg
src/all/img/classes.png
src/all/img/packages.dot
src/all/img/packages.jpg
src/all/img/packages.png
src/all/img/packages2.dot
.idea/Agente_01.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/tensorboard.cpython-39.pyc
src/__pycache__/agent_a.cpython-39.pyc
src/__pycache__/agent_a.cpython-310.pyc
src/__pycache__/agent_maria.cpython-39.pyc
src/__pycache__/agent_maria.cpython-310.pyc
src/__pycache__/bce.cpython-39.pyc
src/__pycache__/bce.cpython-310.pyc
src/__pycache__/generator.cpython-39.pyc
src/__pycache__/generator.cpython-310.pyc
src/__pycache__/intelligent_agent.cpython-39.pyc
src/__pycache__/intelligent_agent.cpython-310.pyc
src/__pycache__/need.cpython-39.pyc
src/__pycache__/need.cpython-310.pyc
src/__pycache__/neurons.cpython-39.pyc
src/__pycache__/neurons.cpython-310.pyc
src/__pycache__/sensory_nn.cpython-39.pyc
src/__pycache__/sensory_nn.cpython-310.pyc
src/__pycache__/sensory_system.cpython-39.pyc
src/__pycache__/sensory_system.cpython-310.pyc
src/render.ps1
BrainCemisid_V4.0A copy.ipynb
src/images/Agent_A.dot
src/images/Agent_A.png
src/images/classes.dot
src/images/classes.png
src/images/image.png
src/images/Need_BCE.dot
src/images/Need_BCE.png
src/images/Neurons_Sen_nn_Sys.dot
src/images/Neurons_Sen_nn_Sys.png
src/images/Neurons_Sen_nn.dot
src/images/Neurons_Sen_nn.png
src/images/packages.dot
.ipynb_checkpoints/BrainCemisid_V4.0A-checkpoint.ipynb
